body {
    background-color: #008000;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #fff;
}

.title {
    text-align: center;
}

#game-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.heading {
    font-size: 24px;
}

.hand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hand-of-cards {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hand-of-cards img {
    width: 150px;
    margin-right: 10px;
}

.score {
    font-size: 18px;
}

#dealer, #player {
    margin: 0 20px;
    text-align: center;
}

#buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #fff;
    color: #000;
    border: solid 1px black;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

#status {
    text-align: center;
}